 * {
font-family: Arial, Helvetica, sans-serif;
background-color: slategray




}

form > input {
    position: relative;
  }
  form > input > ::placeholder {
    position: absolute;
  }



::placeholder{ 

    color:black;









}